{% extends 'base.html' %}
{% block body_class %}mypage-bg{% endblock %}

{% block content %}
<h2>문의 내역</h2>

<a href="{% url 'qna:create' %}" class="btn">문의 작성하기</a>
<br><br>

{% for q in qnas %}
<div style="background: #fff; padding: 20px; margin-bottom: 12px; border-radius: 8px;">
    <h3>{{ q.title }}</h3>
    <p><strong>작성일:</strong> {{ q.created_at|date:"Y.m.d H:i" }}</p>

    {% if q.answer %}
        <p style="color: green;">✔ 답변 완료</p>
    {% else %}
        <p style="color: red;">● 답변 대기중</p>
    {% endif %}

    <a href="{% url 'qna:detail' q.id %}">자세히 보기 →</a>
</div>
{% empty %}
<p>문의 내역이 없습니다.</p>
{% endfor %}

{% endblock %}
